<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script src="/static/js/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
    <title>{{ title }}</title>
</head>
<body>
<div id="container" data-role="page">
  <div id="question_header" data-role="header">
    {% if name %}
        <h2>{{ title }} by {{ name }} until {{ expired_at }}</h2>
    {% else %}
        <h2>Questionnaire with id: {{ qid }} and no available user!</h2>
    {% endif %}
  </div>
  <div id="question_content" data-role="main" class="ui-content">
    <article class="weui_article">
      <h1>[{{status}}]: {{ question_heading }}</h1>
      <section>
        <p>{{ question_content }}</p>
      </section>
    </article>
  </div>
  <div id="question_footer" data-role="footer">
    <a href="javascript:;" class="weui_btn weui_btn_primary" id="submit_0">OK</a>
    <a href="javascript:;" class="weui_btn weui_btn_warn" id="submit_1">Denied</a>
  </div>

  <div id="answer_wrapper">
  {% if answers %}
    <div id="answer_header" class="weui_cells_title">{{ answers_count }} people joined.</div>
    {% if show_details %}
      {% include 'answers.html' %}
    {% endif %}
  {% else %}
    <div id="answer_header" class="weui_cells_title">No one joined.</div>
  {% endif %}
  </div>
  <div id="content"></div>

</div>

<script src="/static/bundle.js"></script>
</body>
</html>
